{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 humanize %}
{% block title %}{{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container">

    <div class="page-header d-xl-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Resend Whatsapp Message</div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <p>
                            Are you sure you want to resend the whatsapp message to {{ object }}?
                        </p>
                        <button type="submit" class="btn btn-primary" id="confirmButton">Confirm</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}