{% extends "web/base.html" %}
{% load static crispy_forms_tags %}
{% block content %}


<!-- FEATURES -->
<section class="home-destination section_padding d-flex align-items-center"
   style="background-color: #FDF4FF;min-height:92vh">
   <div class="container section_padding">
      <div class="destination-section">
         <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <article class="destination-item">
                  <div class="destination-content flip-container">
                     <h3>Upload the Screenshot of Payment</h3>
                     <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="py-3">
                           {{form|crispy}}
                        </div>
                        <div class="form-">
                           <button type="submit" class="round-btn">Complete Enrollment</button>
                        </div>
                     </form>

                  </div>
               </article>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock content %}