{% extends "web/base.html" %}
{% block content %}
<!-- FEATURES -->
<section class="home-destination section_padding d-flex align-items-center"
   style="background-color: #FDF4FF;min-height:92vh">
   <div class="container section_padding">
      <div class="destination-section">
         <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <article class="destination-item">
                  <div class="destination-content flip-container">
                     <div class="counter-no mb-3 flip">
                        <img src="/static/web/images/talent.png" alt="" style="height: 60px">
                     </div>
                     <h3>Registration Complete</h3>
                     <p>Your Registration for the Interval Talent Boost Project has been successfully completed.
                        You will receive an email with further instructions shortly.
                     </p>
                     <a href="https://www.intervaledu.com/news/the-first-ever-talent-boost-exam-logo-launch"
                        class="fw600">Read More about the Programme</a>
                  </div>
               </article>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock content %}