{% extends 'web/base.html' %}
{% load static tags %}

{% block meta %}
    <!-- Primary Meta Tags -->
    <title>{% get_value 'boards_meta_title' %}</title>
    <meta name="title" content="{% get_value 'boards_meta_title' %}" />
    <meta name="description" content="{% get_value 'boards_meta_desc' %}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{og_url}}" />
    <meta property="og:title" content="{% get_value 'boards_meta_title' %}" />
    <meta property="og:description" content="{% get_value 'boards_meta_desc' %}" />
    <meta property="og:image" content="https://www.intervaledu.com/static/web/images/main/preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{og_url}}" />
    <meta property="twitter:title" content="{% get_value 'boards_meta_title' %}" />
    <meta property="twitter:description" content="{% get_value 'boards_meta_desc' %}" />
    <meta property="twitter:image" content="https://www.intervaledu.com/static/web/images/main/preview.png" />
{% endblock %}


{% block content %}

<div class="edu-categorie-area categorie-area-2 edu-section-gap">
    <div class="container">
        
        <div class="container edublink-animated-shape">
            <div class="section-title section-center sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <h2 class="title">Boards</h2>
                <span class="shape-line"><i class="icon-19"></i></span>
            </div>
        </div>

        <div class="row g-5">
            {% for board in boards %}
            <div class="col-lg-3 col-md-6 sal-animate" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                <a href="{{board.get_absolute_url}}" class="w-100">
                    <div class="categorie-grid categorie-style-2 color-primary-style edublink-svg-animate">
                        <div class="icon me-2">
                            <img class="lazy" data-src="{{board.logo.url}}" alt="{{board.name}}" style="width:80px;height:80px;object-fit:contain;">
                        </div>
                        <div class="content">
                            <h5 class="title">{{board.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>



<!--=====================================-->
<div class="counterup-area-5 edu-section-gap">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <div class="p-relative">
                    <div class="thumb">
                        <img src="/static/web/images/main/worldmap.svg" class="w-100" alt="">
                    </div>
                    <video autoplay muted loop playsinline class="map_video">
                        
                        <source src="/static/web/video/map.webm" type="video/webm">
                    </video>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-sm-6" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-5 primary-color">
                    <h2 class="counter-item count-number">
                        <span class="odometer" data-odometer-final="54">.</span><span>+</span>
                    </h2>
                    <h6 class="title">Countries we Serve</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-5 secondary-color">
                    <h2 class="counter-item count-number">
                        <span class="odometer" data-odometer-final="50">.</span><span>K+</span>
                    </h2>
                    <h6 class="title">Total students enrolled</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-5 extra02-color">
                    <h2 class="counter-item count-number">
                        <span class="odometer" data-odometer-final="1">.</span><span>M+</span>
                    </h2>
                    <h6 class="title">Total Class Hours</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-5 extra05-color">
                    <h2 class="counter-item count-number">
                        <span class="odometer" data-odometer-final="5">.</span><span>K+</span>
                    </h2>
                    <h6 class="title">Total Strength</h6>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'web/partials/cta.html' %}

{% endblock %}

