{% extends 'web/base.html' %}
{% load static tags %}

{% block meta %}
    <!-- Primary Meta Tags -->
    <title>{% get_value 'downloads_meta_title' %}</title>
    <meta name="title" content="{% get_value 'downloads_meta_title' %}" />
    <meta name="description" content="{% get_value 'downloads_meta_desc' %}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{og_url}}" />
    <meta property="og:title" content="{% get_value 'downloads_meta_title' %}" />
    <meta property="og:description" content="{% get_value 'downloads_meta_desc' %}" />
    <meta property="og:image" content="https://www.intervaledu.com/static/web/images/main/preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{og_url}}" />
    <meta property="twitter:title" content="{% get_value 'downloads_meta_title' %}" />
    <meta property="twitter:description" content="{% get_value 'downloads_meta_desc' %}" />
    <meta property="twitter:image" content="https://www.intervaledu.com/static/web/images/main/preview.png" />
{% endblock %}

{% block content %}

<div class="edu-categorie-area categorie-area-2 edu-section-gap">
    <div class="container">
        
        <div class="container edublink-animated-shape">
            <div class="section-title section-center sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <h2 class="title">Downloads</h2>
                <span class="shape-line"><i class="icon-19"></i></span>
            </div>
        </div>

        <div class="row g-5">
            {% for resource in resources %}
            <div class="col-lg-4 col-md-6 sal-animate" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                <div class="resource_card">
                    <div class="icon me-4">
                        <img src="/static/web/images/main/pdf.png" alt="{{resource.title}}" style="width:60px;height:60px;object-fit:contain;">
                    </div>
                    <div class="content">
                        <h5 class="title mb-2">{{resource.title}}</h5>
                        <a href="{{resource.file.url}}" class="">Download</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>


{% include 'web/partials/cta.html' %}

{% endblock %}

