{% extends 'web/base.html' %}

{% block content %}

<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Privacy Policy</h1>
            </div>
        </div>
    </div>
</div>

<section class="contact-us-area">
    <div class="container">
        <div class="content">
            <p>This Privacy Policy ("Privacy Policy/Policy") pertains to SANCO INDIA EDU SOLUTIONS PVT LTD ("Team
                Interval" or "Us/us") and governs the collection and use of Personal Information of customers, vendors,
                employees, and users ("You/your") on the online platform www.teaminterval.in ("Website"). We adhere to
                ethical standards in gathering, using, and safeguarding any information provided by you.</p>
            <p>By using/accessing the Website or services/products offered, you agree to the terms outlined in this
                Policy. We collect Personal Information when you register, express interest in our products/services,
                participate in activities on our Website, or contact us. This information includes your name, age, email
                address, location, phone number, password, and your ward’s educational interests.</p>
            <p>We may also collect transaction-related information and information you provide when seeking help. The
                collected information may include Personally-Identifying Information, Sensitive Personal Information,
                and Associated Information as defined under the Data Protection Rules.</p>
            <p>We may use this information to contact you, provide services, send important notices, and for marketing
                promotions. Your data may be shared with third parties only as described in this Policy and with your
                explicit consent.</p>
            <p>We utilise collected information to analyse trends, conduct research, administer services/products,
                understand user behaviour, and provide personalised content. Aggregate statistics about customers and
                traffic patterns may be shared with reputable third parties.</p>
            <p>We may disclose information as required by law, to enforce Terms of Use, protect rights or safety, or
                with third-party service providers to personalise services/products and perform behavioural analysis.
            </p>
            <p>You have the means to ensure your Personal Information is correct and current. We employ reasonable
                security measures to protect your data, but no system is entirely immune to breaches. Your Personal
                Information is not rented, traded, or shared for marketing purposes without your consent.</p>
            <p>We retain your data for at least three years, subject to legal and business requirements. Server logs may
                automatically record information when you access our Website.</p>
            <h5>Amendments</h5>
            <p>As the Company evolves, our privacy policy will need to evolve as well to cover new situations. The
                policy may get amended from time to time. You are advised to review this Policy regularly for any
                changes, as continued use is deemed approval of all changes.</p>
            <h5>Your Consent</h5>
            <p>We believe that every user of our Services/products/Website must be in a position to provide informed
                consent before providing any Information required for the use of the Services/products/Website. By
                registering with us, you are expressly consenting to our collection, processing, storing, disclosing,
                and handling of your information as outlined in this Policy now and as amended by us. Processing your
                information in any way, including, but not limited to, collecting, storing, deleting, using, combining,
                sharing, transferring, and disclosing information, all of which will take place in India. If you reside
                outside India your information will be transferred, processed, and stored under the applicable data
                protection laws of India.</p>
            <h5>Consulting</h5>
            <p>We use third parties to help us provide services to you including the fulfilment of service, processing
                of payments, monitoring site activity, conducting surveys, maintaining our database, administering
                emails, and administering contents, and providing aggregate, comparative information on the performance
                of our Website to us and a select group.</p>
            <h5>Subscriptions</h5>
            <p>It is open for you to customise our usage of your personal information to communicate with you, to send
                you marketing information, how we provide you with customised and relevant advertising, and whether you
                want to stay signed in to your account.</p>
            <p>If you do not wish to receive marketing communications from us, you can unsubscribe from the link in the
                email you would receive to change your communication preferences or indicate your communication
                preferences. You can also reach us via chat, WhatsApp, call or email to block promotional communication
                to you. Keep in mind, we do not sell or rent your personal information to third parties for their
                marketing purposes without your explicit consent.</p>
            <h5>Ownership Of Rights</h5>
            <p>All rights, including copyright, in this Website, are owned by or licensed to us. Any use of this Website
                or its contents, including copying or storing it or them in whole or part, other than for your own
                personal, non-commercial use is prohibited without our permission. You are prohibited from modifying,
                copying, distributing, transmitting, displaying, printing, publishing, selling, licensing, creating
                derivative works, or using any Content available on or through our Website for commercial or public
                purposes. You may not modify, distribute or re-post something on this Website for any purpose.</p>
        </div>
    </div>
    </div>

    {% endblock %}