{% extends 'web/base.html' %}

{% block content %}

<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Terms &amp; Conditions</h1>
            </div>
        </div>
    </div>
</div>


<section class="contact-us-area">
    <div class="container">
        <div class="html_content">
            <p>These Terms constitute an electronic record under the Information Technology Act, 2000 and govern
                your use of products, websites, and services managed by SANCO INDIA EDU SOLUTIONS PVT LTD ("Team
                Interval").</p>
            <p>Your use of the Website, Application, or services signifies your acceptance of these Terms along with
                the Privacy Policy. In case of any discrepancy between the Terms and other policies, the Terms
                prevail.</p>
            <p>As a visitor, you can browse our Website without providing Personal Information. We reserve the right
                to update this Policy and will notify registered users of any changes.</p>
            <p>By providing consent to the Privacy Policy and accepting the Terms, you agree to the collection, use,
                and transfer of your Personal Information as outlined.</p>
            <p>We may use cookies to track preferences and improve user experience. Links to external sites are not
                governed by our Privacy Policy. Public forums on our Website are open to all users, and posting
                personal information is at your own risk.</p>
            <p>We employ security measures to protect your data but cannot guarantee absolute security. Your
                Personal Information will not be shared for marketing purposes without your consent.</p>
            <p>If you believe your account has been compromised, please contact us. We reserve the right to disclose
                your Personal Information in compliance with legal requests.</p>
            <h5>Restrictions on Use</h5>
            <p>Your personal and non-commercial use of this Website, products and/or our Services shall be subjected
                to the following restrictions:</p>
            <p>You may not decompile, reverse engineer, or disassemble the contents of the Website and/or Services/
                products or modify, copy, distribute, transmit, display, perform, reproduce, publish, licence,
                create derivative works from, transfer, or sell any information or software obtained from the
                Website and/or Services/products, or remove any copyright, trademark registration, or other
                proprietary notices from the contents of our website and/or Services/products.</p>
            <p>You will not use this Website and/or any of our product/s or Service/s for commercial purposes of any
                kind or advertise or sell the Application or any products, services or domain names or otherwise
                solicit others or use any public forum for commercial purposes or use the website/our products and
                Services in any unlawful way, or harms the Company or any other person or entity as determined by
                the Company.</p>
            <h5>Prohibited Activities</h5>
            <p>No User shall be permitted to perform any of the following prohibited activities while availing our
                Services:</p>
            <ul>
                <li>Making available any content that is misleading, unlawful, harmful, threatening, abusive,
                    tortious, defamatory, libellous, vulgar, obscene, child-pornographic, lewd, lascivious, profane,
                    invasive of another’s privacy, hateful, or racially, ethnically or otherwise objectionable.</li>
                <li>Stalking, intimidating and/or harassing another and/or inciting others to commit violence.</li>
                <li>Transmitting material that encourages anyone to commit a criminal offence, that results in civil
                    liability or otherwise breaches any relevant laws, regulations, or code of practice.</li>
                <li>Interfering with any other person’s use or enjoyment of the Website/Services.</li>
                <li>Making, transmitting or storing electronic copies of materials protected by copyright without
                    the permission of the owner, committing any act that amounts to the infringement of intellectual
                    property or making available any material that infringes any intellectual property rights or
                    other proprietary rights of anyone else.</li>
                <li>Make available any content or material that You do not have a right to make available under any
                    law or contractual or fiduciary relationship unless You own or control the rights thereto or
                    have received all necessary consents for such use of the content</li>
                <li>Impersonate any person or entity, or falsely state or otherwise misrepresent Your affiliation
                    with a person or entity.</li>
                <li>Post, transmit, or make available any material that contains viruses, trojan horses, worms,
                    spyware, time bombs, cancelbots, or other computer programming routines, code, files, or such
                    other programs that may harm the services, interests, or rights of other users or limit the
                    functionality of any computer software, hardware or telecommunications, or that may harvest or
                    collect any data or personal information about other Users without their consent.</li>
                <li>Access or use the Website/Services/products in any manner that could damage, disable, overburden
                    or impair any of the Application’s/Website’s servers or the networks connected to any of the
                    servers on which the Website is hosted.</li>
                <li>Intentionally or unintentionally interfere with or disrupt the Services or violate any
                    applicable laws related to the access to or use of the Website/Services/products, violate any
                    requirements, procedures, policies or regulations of networks connected to the
                    Website/Services/products, or engage in any activity prohibited by these Terms.</li>
                <li>Disrupt or interfere with the security of, or otherwise cause harm to, the
                    Website/Services/products, materials, systems resources, or gain unauthorised access to user
                    accounts, passwords, servers, or networks connected to or accessible through the
                    Website/Services/products or any affiliated or linked sites.</li>
                <li>Interfere with, or inhibit any user from using and enjoying access to the Website/
                    Services/products, or other affiliated sites, or engage in disruptive attacks such as denial of
                    service attack on the Website/Services/products.</li>
                <li>Use deep-links, page-scrape, robot, spider or other automatic devices, program, algorithm or
                    methodology, or any similar or equivalent manual process, to increase traffic to the
                    Website/Services/products, to access, acquire, copy or monitor any portion of the
                    Website/Services/products, or in any way reproduce or circumvent the navigational structure or
                    presentation of the Application, or any content, to obtain or attempt to obtain any content,
                    documents or information through any means not specifically made available through the
                    Website/Services/products.</li>
                <li>Alter or modify any part of the Services.</li>
                <li>Use the Services for purposes that are not permitted by these Terms</li>
                <li>Violate any of the terms specified under the Terms for the use of the Application
                    /Website/Services/products.</li>
            </ul>
            <p>If you come across any abuse or violation of these Terms, please report to<a
                    href="mailto:help@interval.com" target="_blank"
                    style="color: rgb(47, 114, 179);">&nbsp;help@interval.com.</a></p>
            <h5>Liability Disclaimer</h5>
            <p>In no event shall the Company, its officers, directors, employees, partners, or agents be liable to
                You or any third party for any special, incidental, indirect, consequential, or punitive damages
                whatsoever, including those resulting from loss of use, data or profits or any other claim arising
                out, of or in connection with, Your use of, or access to, the website or products.</p>
            <h5>Governing Law and Jurisdiction</h5>
            <p>The Terms shall be governed by and construed under the laws of India, without regard to conflict of
                law principles. Further, the Terms shall be subject to the exclusive jurisdiction of the competent
                courts located in Calicut and You hereby accede to and accept the jurisdiction of such courts.</p>

        </div>
    </div>
</section>

{% endblock %}