<!-- FOOTER -->
<footer id="colophon" class="site-footer footer-primary">
    <div class="top-footer">
        <div class="container">
            <div class="upper-footer">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <aside class="widget widget_text">
                            <div class="footer-logo">
                                <a href="/"><img src="/static/web/images/logo/talentboost.png" alt=""
                                        style="height:80px"></a>
                            </div>
                            <div class="textwidget widget-text">
                                The Interval Talent Boost Project is an initiative designed to help students gain
                                national
                                and international exposure for their unique abilities, fostering their growth and
                                development on a global scale.

                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">LOCATE US</h3>
                            <div class="textwidget widget-text">
                                <ul>
                                    <li>
                                        <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                        Interval HQ, Pachu Arcade, Areekode-Othayi-Edavanna Rd, near Cherupuzha Bridge,
                                    </li>
                                    <li>
                                        Pathanapuram, Kerala 673639
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">CONTACT US</h3>
                            <div class="textwidget widget-text">
                                <p>Feel free to contact and<br> reach us !!</p>
                                <ul>
                                    <li>
                                        <a href="tel:+919072000892">
                                            <i aria-hidden="true" class="icon icon-phone1"></i>
                                            +91 90720 00892
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailtop:hello.teaminterval@gmail.com">
                                            <i aria-hidden="true" class="icon icon-envelope1"></i>
                                            hello.teaminterval@gmail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">QUICK LINKS</h3>
                            <div class="textwidget widget-text">
                                <ul>
                                    <li class="ps-0"><a href="https://www.intervaledu.com/">TEAM INTERVAL WEBSITE</a>
                                    </li>
                                    <li class="ps-0"><a href="https://littlegenie.in/">LITTLE GENIE WEBSITE</a></li>
                                    <li class="ps-0"><a href="{% url 'web:school_registration' %}">SCHOOL ENROLLMENT</a></li>
                                    <li class="ps-0"><a href="{% url 'web:about' %}">ABOUT US</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="copy-right text-center">Copyright &copy; 2024 Team Interval. All rights reserved.</div>
        </div>
    </div>
</footer>
