<!-- site header html start  -->
<header id="masthead" class="site-header bg-primary">
    <!-- header html start -->
    <div class="top-header">
        <div class="container">
            <div class="top-header-inner">

                <div class="header-contact text-left">
                    <a href="/">
                        <img src="/static/web/images/logo/talentboost.png" alt="Logo"
                            style="height:60px;object-fit: contain;">
                    </a>
                </div>

                <div class="header-icon text-right">
                    <div class="header-search-icon d-inline-block">
                        <img src="/static/web/images/logo/interval.png" alt="Logo"
                            style="height:50px;object-fit: contain;">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mobile-menu-container"></div>
</header>