{% extends "web/base.html" %}

{% block header %}{% endblock header %}
{% block footer %}{% endblock footer %}

{% block content %}

<!-- site header html end  -->
<main id="content" class="site-main">

	<!-- FEATURES -->
	<section class="home-destination section_padding">
		<div class="container">
			<div class="destination-section">
				<div class="row align-items-stretch">
					<div class="col-xl-6 mx-auto text-center">
						<h1 class="display-1">404</h1>
						<p>Page Not Found</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{% endblock content %}